.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}
.nav {
  display: flex;
  flex-direction: row;
  gap: 12px;
  a {
    color: var(--gray-800);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;

    &:hover {
      opacity: .75;
      color: var(--blue-500);
    }
  }
}

.logo {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}